/* ===============================
   AI WEATHERWISE - STYLE.CSS
   =============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #4facfe);
    padding: 20px;
}

/* Main Weather Card */

.weather-container {
    width: 100%;
    max-width: 450px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Heading */

h1 {
    color: #1769aa;
    margin-bottom: 25px;
    font-size: 30px;
}

h2 {
    color: #333;
    margin-top: 10px;
    font-size: 25px;
}

/* Search Box */

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

#cityInput {
    flex: 1;
    padding: 13px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

#cityInput:focus {
    border-color: #2196f3;
}

/* Search Button */

#searchBtn {
    padding: 13px 20px;
    border: none;
    border-radius: 10px;
    background: #2196f3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#searchBtn:hover {
    background: #1769aa;
}

/* Weather Icon */

#weatherIcon {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

/* Temperature */

#temperature {
    font-size: 45px;
    color: #1769aa;
    margin: 10px 0;
}

/* Weather Description */

#weatherDescription {
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    margin-bottom: 25px;
}

/* Weather Details */

.weather-details {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}

.detail-box {
    flex: 1;
    padding: 15px;
    background: #f1f8ff;
    border-radius: 12px;
}

.detail-box p {
    color: #555;
    margin-bottom: 5px;
}

.detail-box span {
    font-size: 18px;
    font-weight: bold;
    color: #176
